[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://gabryslol.github.io/AngularJS/module2-solution/
Icon=text-html
Name[en_US]=02
