[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=http://maryverh.github.io/VERKHOLA-Module2-Solution/
Icon=text-html
Name[en_US]=03
