[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://komando82.github.io/Coursera--Single-Page-Web-Applications-with-AngularJS/module2-solution/
Icon=text-html
Name[en_US]=05
