[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://rpangeni.github.io/coursera/assignments/assignment2/
Icon=text-html
Name[en_US]=07
