[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://prusswan.github.io/fullstack-course5/module2-solution/
Icon=text-html
Name[en_US]=09
