[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://pereij1.github.io/coursera/ajs_week2/
Icon=text-html
Name[en_US]=10
