[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://sinanxie.github.io/coursera-test/mod2_solution/
Icon=text-html
Name[en_US]=11
