[Desktop Entry]
Encoding=UTF-8
Name=Link to Shopping List Check Off
Type=Link
URL=https://faacy.github.io/coursera-test/module2-solution/
Icon=text-html
Name[en_US]=12
