[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://k43g0n.github.io/coursera-angular/module1-solution/
Icon=text-html
Name[en_US]=02
