[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://kulinskyvs.github.io/course-era.ROR/m5/module1-solution/index.html
Icon=text-html
Name[en_US]=03
