[Desktop Entry]
Encoding=UTF-8
Name=Link to Your food guide
Type=Link
URL=https://smaragda.github.io/coursera-angjs/module1-solution/
Icon=text-html
Name[en_US]=08
