[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://cohenpts.github.io/single-page-web-apps-with-angularjs/
Icon=text-html
Name[en_US]=09
