[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://vamshins.github.io/angularjs-coursera/module1-solution/
Icon=text-html
Name[en_US]=13
