[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checkerr
Type=Link
URL=https://malari786.github.io/coursera-angular/module1_solution/
Icon=text-html
Name[en_US]=15
