[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://amashoshyna.github.io/coursera_angular/module1_solution/
Icon=text-html
Name[en_US]=18
