[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://tdonnadi.github.io/AngularCoursera/mysubmission/
Icon=text-html
Name[en_US]=24
