[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://prakash9pandu09.github.io/coursera-spa-ng/assignment1-solution/
Icon=text-html
Name[en_US]=25
