[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://vndbjlqx.github.io/QXCourseraTest/AngularJSM1Assignment/
Icon=text-html
Name[en_US]=26
