[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://ironcamel.github.io/coursera-ang/module1-solution/
Icon=text-html
Name[en_US]=04
