[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=http://naisho.github.io/jhu/yaakov/angular/module1/
Icon=text-html
Name[en_US]=05
