[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://wingclover.github.io/learning-angularjs/module1-solution/
Icon=text-html
Name[en_US]=06
