[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://angrysquirrel.github.io/angularjshomework/module1-solution/
Icon=text-html
Name[en_US]=10
