[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://ducngtuan.github.io/coursera-fs5/module1-solution/
Icon=text-html
Name[en_US]=14-great
