[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://lestex.github.io/web-apps-with-angularjs/
Icon=text-html
Name[en_US]=23
