[Desktop Entry]
Encoding=UTF-8
Name=Link to Lunch Checker
Type=Link
URL=https://kerkarpraj.github.io/coursera-test/module1_assgn_solution/
Icon=text-html
Name[en_US]=27
